<nav class="sidebar">
  <div class="logo">
    <img
      src="https://images.seeklogo.com/logo-png/48/2/zerodha-kite-logo-png_seeklogo-487028.png"
      alt=""
    />
    <p class="logo-title">Zerodha</p>
  </div>
  <ul>
    <li routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
    <li routerLink="/market" routerLinkActive="active">Market</li>
    <li routerLink="/orders" routerLinkActive="active">Orders</li>
    <li routerLink="/news" routerLinkActive="active">News</li>
  </ul>
</nav>
